<h1>Item Detail</h1>
<% items.each do |item|%>
    <p>Item Name: <%= item.name %> </p>
    <p>Item Price: <%= item.price %></p>
    <p>Item Category: <%= item.category %></p>
<% end %>
<a href="/" class="btn btn-sm btn-danger">Back</a>
